* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header {
    background-color: rgb(167, 57, 167);
    padding: 16px 0 16px;
    margin-bottom: 56px;
}

li a{
    text-decoration: none;
    color: black;
}

.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    position: relative;
}

.item img{
    max-width: 100%;
    border-radius: 10px;
}

.itens .item {
    margin-top: 30px;
}

.sobreNos {
    margin-bottom: 56px;
}

.sobreNos .item div {
    display: flex;
    font-size: 20px;
}

.sobreNos .item img {
    margin-right: 15px;
}

section h2 {
    margin-bottom: 32px;
}

.itens {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    column-gap: 1%;
    row-gap: 5%;
    margin-bottom: 10px;
    border-top: 2px solid purple;
}

button {
    padding: 8px;
    background-color: rgb(167, 57, 167);
    border: none;
    border-radius: 5px;
    margin-top: 4px;
    cursor: pointer;
}

button:hover{
    background-color:rgb(233, 62, 233);
}


@media screen and (max-width: 767px) {
    header .container {
        flex-direction: column; 
        text-align: center; 
    }

    .conteudo{
        display: block;
    }

    .container {
        max-width: 90%;
    }
    
    .sobreNos .item div {
        display: block;
        font-size: 1.5em;
    }
    
    .sobreNos .item img {
        margin-right: 0px;
    }
    
    .itens {
        display: block;
    }

    .itens .item{
        margin-bottom: 32px;
    }

    header div.container {
        flex-direction: column;
    }
    
    
}

@media screen and (min-width: 671px) and (max-width: 1023px) {
    
    .container {
        max-width: 90%;
    }

    .sobreNos .item div {
        font-size: 1.5em;
    }

    .itens {
        grid-template-columns: repeat(2, 49%);
    }
}
